<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Pizza Order page - Welcome and choose pizza</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Pizza Delivery App</h1>
</header>
<main>
    <h2>Choose pizza:</h2>
        <form th:action="@{/asd}" method="POST">
        <th:block th:each="pizza : ${pizzas}">

                <input type="radio" id="pizzaName" name="pizzaName" th:value="${pizza.name}" th:text="${pizza.name}"></input>
                <div th:text="${pizza.description}"></div>

        </th:block>

        <br/>
        <input type="submit" value="Submit" >
        </form>
    <br/>
    <form th:action="@{/asd}" method="post">
        <div><input type="text" name="newPizza"></div>
        <br/>
        <div><input type="text" name="desc"></div>
        <br/>
        <div><input type="submit" value="Submit"></div>
    </form>
    <p th:text="${error}"></p>
</main>
</body>
</html>